@import "variables";

.buttons {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: space-around;
  padding: 10px 0px;
  margin-top: 2rem;
  input {
    color: black;
    padding: 10px;
  }
  button {
    border: none;
    cursor: pointer;
    &:hover {
        background-color: rgb(222, 193, 250);
    }
  }
  h2 {
    display: inline-block;
    margin: 10px 10px;
  }
  .chord-pad-add {
    background-color: hsl(143, 30%, 65%);
    &:hover {
      background-color: hsl(143, 30%, 75%);
    }
  }
  
  .chord-pad-remove {
    background-color: hsl(352 28% 73%);
    &:hover {
      background-color: hsl(352 28% 63%);
    }
  }
}

input[type="range"] {
  appearance: "none";
  -webkit-appearance: none;
  height: 0px;
  background: #000;
  outline: none;
  border: 4px solid rgb(169 163 163);
  border-radius: 8px;
}

/* for chrome/safari */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 0px;
  background: #000;
  cursor: pointer;
  border: 4px solid rgb(255, 244, 244);
  border-radius: 4px;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: #c776fa;
  height: 5px;
 }

/* for firefox */
input[type="range"]::-moz-range-thumb {
  width: 15px;
  height: 30px;
  background: #000;
  cursor: pointer;
  border: 4px solid rgb(245, 203, 203);
  border-radius: 4px;
}

// .speed {
// }

// .note-select {
// }

.chord-pads-section {
  // border-bottom: 4px solid $piano_BorderColor;
  padding-bottom: 0.5rem;
}

.chord-pads {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
}

.chord-pads-heading {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.chord-pad {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.chord-pad-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.chords-section {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  // border-bottom: 4px solid $piano_BorderColor;
  padding-bottom: 0.5rem;
}

.chords-section-buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
    margin-bottom: 10px;
}

.scales-section {
  width: 100%;
  max-width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  // border-bottom: 4px solid $piano_BorderColor;
  padding-bottom: 0.5rem;
}

.scales-section-buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
