@import "variables";

.buttons {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: space-around;
  padding: 10px 0px;
  input {
    color: black;
    padding: 10px;
  }
  button {
    border: none;
    cursor: pointer;
    &:hover {
        background-color: rgb(222, 193, 250);
    }
  }
  h2 {
    display: inline-block;
    margin: 10px 10px;
  }
  .chord-pad-add {
    background-color: #aec98f;
    &:hover {
      background-color: hsl(88, 35%, 77%);
    }
  }
  
  .chord-pad-remove {
    background-color: hsl(0, 80%, 88%);
    &:hover {
      background-color: hsl(0, 80%, 95%);
    }
  }
}

.speed {
}

.note-select {
}

.chord-pads-section {
  border-bottom: 2px solid $piano_BorderColor;
  padding-bottom: 0.5rem;
}

.chord-pads {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
}

.chord-pad {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.chord-pad-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.chords-section {
  width: 100%;
  max-width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 2px solid $piano_BorderColor;
  padding-bottom: 0.5rem;
}

.chords-section-buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
    margin-bottom: 10px;
}

.scales-section {
  width: 100%;
  max-width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 2px solid $piano_BorderColor;
  padding-bottom: 0.5rem;
}

.scales-section-buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
